.covidStatistics {

    .globalList {
        display: flex;
        justify-content: space-between;

        li {
            max-width: 10%;
            width: calc(25% - 2rem);
            span {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                text-transform: uppercase;
            }
        }

    }

}