.individualCountries {
    display: flex;
    justify-content: space-between;
    
    li {
        max-width: 10%;
        width: calc(20% - 2rem);
        word-wrap:break-word;
        span {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            text-transform: uppercase;
        }
    }

}