.individualCountries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    li {
        width: calc(100%/6 - 1rem);
        border-radius: 5px;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 1rem;
        text-align: center;

        span {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            text-transform: uppercase;
            padding: .15rem 0;
            justify-content: center;
        }
    }

    li:nth-child(1) {
        span:nth-child(2) {
            font-weight: 700;
            color: $purpleBlue;
        }
    }

    li:nth-child(2) {
        span:nth-child(2) {
            font-weight: 700;
            color: $green;
        }
    }

    li:nth-child(3) {
        span:nth-child(2) {
            font-weight: 700;
            color: $yellow;
        }
    }

    li:nth-child(4) {
        span:nth-child(2) {
            font-weight: 700;
            color: $red;
        }
    }

    li:nth-child(5) {
        span:nth-child(2) {
            font-weight: 700;
            color: $purple;
        }
    }

    li:nth-child(6) {
        span:nth-child(2) {
            font-weight: 700;
            color: $blue;
        }
    }
}

.countrySection {
    .wrapper {
        form {
            margin: 20px 0;
            input {
                width: 30%;
                height: 30px;
                margin: 0;
            }

            button {
                background-color: $blue;
                color: white;
                border: 2px solid $blue;
            }
        }
        .statisticTitle {
            font-weight: 300;
        }
    }
}