.mapSection {
    position: relative;
    width: 75%;

    .wrapper {
        position: relative;
        width: 100%;

        .worldMapContainer {
            height: 400px;
            width: 100%;
        }

        .lastUpdated {
            position: absolute;
            bottom: 3%;
            left: 2.5%;
            opacity: .5;
            font-size: .5rem;
        }

    }


}