.mapSection {

    .wrapper {
        position: relative;

        .imageContainer {
            border: 10px solid white;
            border-radius: 5px;
        }

        .lastUpdated {
            position: absolute;
            bottom: 3%;
            left: 2.5%;
            opacity: .5;
            font-size: .75rem;
        }

    }


}