/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .covidStatistics {
        .globalList {
            li {
                width: calc(100%/2 - 1rem);
                margin-bottom: 0.5rem;
            }
        }
    }

    .individualCountries li {
        width: calc(100%/3 - 1rem);
        margin-bottom: 0.5rem;
    }

    .middleContent {
        .wrapper {
            flex-direction: column;
        }
    }

    .mapSection {
        width: 100%;
    }

    .recentSection {
        width: 100%;
        margin-left: 0;
    }

    footer {
        .wrapper {
            justify-content: space-between;
            font-size: 0.5rem;
        }
    }

    header {    
        h1 {
            font-size: 1.8rem;
        }

        .fa-virus {
            font-size: 1.2rem;
            margin: 0 .25rem;
        }
    }

    h2 {
        font-size: 1.2rem;
    }  
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
     select {
         width: calc(60% - 20vw);
         min-width: 400px;
     }

    .covidStatistics {
        .globalList {
            font-size: .85rem;
        }
    }

    .individualCountries li {
        font-size: .85rem;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    header {
        .wrapper {

            h1 {
                font-size: 1.3rem;
            }

            .fas {
                font-size: .85rem;
            }
        }
    }

    .mapSection {
        .wrapper {
            .worldMapContainer {
                height: 200px;
            }
        }
    }

    select {
        min-width: 280px;
    }

    .lastUpdated {
        p {
            font-size: .4rem;
            padding-bottom: 1rem;
        }
    }

    .covidStatistics {
        .globalList {
            justify-content: space-evenly;
        }
    }

    .individualCountries li {
        width: calc(100%/2 - .5rem);
        margin-bottom: 0.5rem;
    }
}