.recentSection {
    background-color: white;
    border-radius: 5px;
    width: 25%;
    margin-left: 1rem;
    
    .wrapper {
        display: inline-block;
        width: 100%;
    }

    .searchHistory {
         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
         border-radius: 5px;
    }

    h2 {
        padding-bottom: .75rem;
    }
    
    ul {
        width: 100%;
        border-radius: 5px;

        li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid $backgroundColour;
            padding: .5rem 0;
            margin: .5rem 0;

            .flagContainer {
                min-width: 30px;
                height: auto;
                margin: 0 .5rem;
            }

            span:nth-child(2) {
                font-size: .8rem;
            }
        }
    }
}