// Utility Styling
body, h1, h2, h3, h4, ul, li, p, a { margin: 0; padding: 0; }

ul { list-style: none; }

a { color: inherit; text-decoration: none; }

img { max-width: 100%; }

html { font-size: 125%; }

.wrapper { width: 90%; max-width: 1280px; margin: 20px auto; }

// General Styles
body {
    font-family: $primaryFont;
    background-color: white;
}

input, option, select {
    font-family: $primaryFont;
}

h2 {
    color: $purpleBlue;
    font-weight: 500;
    font-size: 1.5rem;
}