$blue: #69B1D6;
$orange: #EF613A;
$purpleBlue : #4048cc;
$green: #2eb9aa;
$red: #ff1d3d;
$purple: #7649a6;
$lightBlue: #dfecfe;
$yellow: #e39d61;

$backgroundColour: #f5f7fb;

$primaryFont: 'Poppins', sans-serif;